*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
}
.margen-interno{
    padding: 0px;
}
.header{
    background: url('./images/header.jpg');
    background-position:center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    margin: 5px 5px 0 5px;
}
    .menu{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        
    }
        .logo{
            flex: 1 1 auto;   
        }
        .logo a img{
            width: auto;
            height: 50px;
        }
        .nav{
            flex: 10 1 auto;
            justify-content: center;
        }
            .nav a{
                color:#7F8487;
                font-size: 11px;
                letter-spacing: 2px;
                padding: 0 35px;
                font-weight: bold; 
                
            }
            .nav a:hover{
                color:#343434;
            }
        .social{
            flex: 1 1 auto;
            display:flex;
            justify-content: flex-end;
        }
            .social a{
                font-size: 12px;
                color:#7F8487;
                padding: 0 3px;   
            }
            .social a:hover{
                color:#343434;
            }
    .texto-principal{
        height: 120px;
        margin: 35px;
    }
        h1{
            background: rgba(0,0,0,.1);
            height: 80px;
            margin-top: 60px;
            font-family: 'lora', serif;
            font-size: 25px;
            color:#FF884B;
            opacity: 0.5;
            font-weight: 300;
            text-align: center;
            line-height: 1.6;   
        }
.section{
    background: #fff;
    display: flex;
}
    .articulos{
        background: #B2B2B2;
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        margin: 5px 5px 0 5px;
    }
        .article{
            color:#444;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 5px 5px 0 5px;
            flex: 1 1 45%;
            background: #ececec;
        }
            .article h5{
                color:#FFCB42;
                font-size: 13px;
                letter-spacing: 2px;
                margin-top: -30px;  
            }
            .article h3{
                background: #ECA6A6 ;
                color: #fff;
                font-size: 15px;
                letter-spacing: 2px;
                padding: 10px 5px;
                margin-top: 5px;

            }
            .article p{
                color: #000;
                font-size: 13px;
                font-weight: 400;
                margin-top: 10px;
                column-count: 2;
                letter-spacing: 1px;
                padding: 10px 5px;   
            }
            .article img{
                width: 100%;
                padding: 0px;
            }
            article a{
                color:#000;
                font-size: 13px;
                font-weight: 500;
                font-weight: bold;
                display: inline-block;
            }
        .navegacion{
            background: #B2B2B2;
            flex: 1 1 40%;
            color:#000;
            font-size: 13px;
            letter-spacing: 1px;
            font-weight: bold;   
            margin: 5px 5px 0 5px;
            text-align:center;
        }
    .aside{
        background: #B2B2B2;
        flex: 1 1 40%;
        color:#000;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: bold;   
        margin: 10px 5px 0 5px;   
    }
        .aside h3{
            padding: 10px;
            margin: 30px;
            font-size: 15px;
            letter-spacing: 1px;
        }
        .publicidad{
            background: #B2B2B2;    
        }
footer{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 5px;
}
    .pie{
        background: #B2B2B2;
        text-align: center; 
        width: 100%;    
    }
    .pie a{
        background: #ececec;
        color:#444;
        font-size: 13px;
        letter-spacing: 1px;   
    }  
@media all and (max-width: 1024px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column; 
    }
    .articulos{
        flex-direction: column; 
    } 
}
